---

---

<div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="project-wrapper__text load-hidden">
        <h3 class="project-wrapper__text-title">{Astro.props.title}</h3>
        <div class="row">
          <div class="col">
            <p class="mb-4">
              {Astro.props.description}
            </p>
              <a
                rel="noreferrer"
                target="_blank"
                class="cta-btn cta-btn--hero"
                href={Astro.props.live_link}
              >
                See Live
              </a>
              <a
                rel="noreferrer"
                target="_blank"
                class="cta-btn text-color-main"
                href={Astro.props.link}
              >
                Source Code
              </a>
            </div>
            {
              Astro.props.image != "" &&
              <div class="col-lg-8 col-sm-12">
                <div class={ Astro.props.imageClassName != "" ? Astro.props.imageClassName : "project-wrapper__image load-hidden"} style={Astro.props.imageStyle}>
                  <a rel="noreferrer" href={Astro.props.link} target="_blank">
                      <div
                          data-tilt
                          data-tilt-max="4"
                          data-tilt-glare="true"
                          data-tilt-max-glare="0.5"
                          class="thumbnail rounded js-tilt"
                      >
                      <img
                          alt="Project Image"
                          class="img-fluid"
                          src={Astro.props.image}
                      />
                      </div>
                  </a>
                </div>
              </div>
            }
          </div>
    </div>
  </div>
</div>
    